<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=""UTF-8">
    <title>SlideViewer</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/openseadragon/3.0.0/openseadragon.min.js"></script>
    <style>
        #right-arrow-overlay {
            width: 0;
            height: 0;
            border-top: 10px solid transparent; /* 화살표 위 */
            border-bottom: 10px solid transparent; /* 화살표 아래 */
            border-left: 20px solid red; /* 화살표 몸체 */
            position: absolute;
        }
    </style>
</head>
<body>
    <div id="openseadragon-viewer" style="width:800px; height: 600px;"></div>

    <div id="right-arrow-overlay"></div>

    <script>
        const viewer = OpenSeadragon({
            id: "openseadragon-viewer",
            tileSources: "{{slide_url}}",
            prefixUrl:"https://cdnjs.cloudflare.com/ajax/libs/openseadragon/3.0.0/images/",
            showNavigator: true,
        });

        viewer.addOverlay({
            id: 'right-arrow-overlay',
            location: new OpenSeadragon.Point(0.2008, 0.4778),
            placement: OpenSeadragon.Placement.RIGHT
        });
    </script>
</body>
</html>